In [6]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [73]:
import pandas as pd
import numpy as np

In [91]:
gdp_province = pd.read_excel("GDP_raw.xlsx", sheet_name="省市")
gdp_province.head()

,地区,2024年第三季度,2024年第二季度,2024年第一季度,2023年第四季度,2023年第三季度,2023年第二季度,2023年第一季度,2022年第四季度,2022年第三季度,...,2018年第二季度,2018年第一季度,2017年第四季度,2017年第三季度,2017年第二季度,2017年第一季度,2016年第四季度,2016年第三季度,2016年第二季度,2016年第一季度
0,北京市,33462,21791,10581,43761,31797,20667,9971,41541,30041,...,15279.69,7235.42,28000.35,19569.76,12406.79,6040.48,24899.26,17367.77,11413.83,5451.89
1,天津市,12674,8191,3890,16737,12167,7787,3689,16132,11827,...,6376.64,3014.72,18595.38,13449.50,9386.87,4667.18,17885.39,13339.44,8500.91,4039.44
2,河北省,32904,21510,10454,43944,31617,20672,9991,41988,30511,...,15364.91,7116.85,35964.00,25603.47,16404.87,7512.43,31827.86,22496.12,14467.69,6487.44
3,山西省,17533,11187,5400,25698,18081,11707,5834,25584,18079,...,7337.23,3455.53,14973.51,10460.38,6577.91,2809.42,12928.34,8945.55,5714.00,2465.99
4,内蒙古自治区,17876,11683,5604,24627,17119,11124,5418,23389,16455,...,7322.57,3405.07,16103.17,13740.21,8465.71,3742.20,18632.57,12690.14,7579.98,3495.54

In [92]:
gdp_cn = pd.read_excel("GDP_raw.xlsx", sheet_name="全国")
gdp_cn = gdp_cn.iloc[:1,]
gdp_cn.head()

,地区,2024年第三季度,2024年第二季度,2024年第一季度,2023年第四季度,2023年第三季度,2023年第二季度,2023年第一季度,2022年第四季度,2022年第三季度,...,2018年第二季度,2018年第一季度,2017年第四季度,2017年第三季度,2017年第二季度,2017年第一季度,2016年第四季度,2016年第三季度,2016年第二季度,2016年第一季度
0,全国,949745.7,616836.0,296299.5,1260582.1,912692.0,592715.6,284423.0,1204724.0,870733.2,...,425997.9,202035.7,832035.9,596607.3,383818.0,181867.7,746395.1,534828.9,343818.2,162410.0

In [93]:
gdp_years = []
for col in gdp_province.columns:
    if col.endswith("第四季度") or col == "2024年第三季度" or col == "地区":
        gdp_years.append(col)

gdp_proc = gdp_province[gdp_years]
gdp_proc.columns = [col[:4] for col in gdp_proc.columns]
gdp_proc.head()

,地区,2024,2023,2022,2021,2020,2019,2018,2017,2016
0,北京市,33462,43761,41541,41046,35943.25,35445.13,33105.97,28000.35,24899.26
1,天津市,12674,16737,16132,15685,14007.99,14055.46,13362.92,18595.38,17885.39
2,河北省,32904,43944,41988,40397,36013.84,34978.55,32494.61,35964.00,31827.86
3,山西省,17533,25698,25584,22870,17835.58,16961.61,15958.13,14973.51,12928.34
4,内蒙古自治区,17876,24627,23389,21166,17258.04,17212.53,16140.76,16103.17,18632.57

In [94]:
gdp_years = []
for col in gdp_cn.columns:
    if col.endswith("第四季度") or col == "2024年第三季度" or col == "地区":
        gdp_years.append(col)

gdp_cn = gdp_cn[gdp_years]
gdp_cn.columns = [col[:4] for col in gdp_cn.columns]
gdp_cn.head()

,地区,2024,2023,2022,2021,2020,2019,2018,2017,2016
0,全国,949745.7,1260582.1,1204724.0,1149237.0,1013567.0,986515.2,919281.1,832035.9,746395.1

In [95]:
gdp = pd.concat([gdp_proc,gdp_cn], ignore_index=True)
gdp.head()

,地区,2024,2023,2022,2021,2020,2019,2018,2017,2016
0,北京市,33462.0,43761.0,41541.0,41046.0,35943.25,35445.13,33105.97,28000.35,24899.26
1,天津市,12674.0,16737.0,16132.0,15685.0,14007.99,14055.46,13362.92,18595.38,17885.39
2,河北省,32904.0,43944.0,41988.0,40397.0,36013.84,34978.55,32494.61,35964.00,31827.86
3,山西省,17533.0,25698.0,25584.0,22870.0,17835.58,16961.61,15958.13,14973.51,12928.34
4,内蒙古自治区,17876.0,24627.0,23389.0,21166.0,17258.04,17212.53,16140.76,16103.17,18632.57

In [102]:
gdp_melted = gdp.melt(
    id_vars=["地区"],
    var_name="year",
    value_name="GDP"
)
gdp_melted.head()

       地区  year      GDP
0     北京市  2024  33462.0
1     天津市  2024  12674.0
2     河北省  2024  32904.0
3     山西省  2024  17533.0
4  内蒙古自治区  2024  17876.0

In [98]:
population_raw = pd.read_excel("population_raw.xlsx")

population_years = []
for col in population_raw.columns:
    if col.endswith("年") or col == "地区":
        population_years.append(col)

population_proc = population_raw[population_years]
population_proc.columns = [col[:4] for col in population_proc.columns]
population_proc.head()

       地区  2023  2022  2021  2020  2019  2018  2017  2016
0     北京市  2186  2184  2189  2189  2190  2192  2194  2195
1     天津市  1364  1363  1373  1387  1385  1383  1410  1443
2     河北省  7393  7420  7448  7464  7447  7426  7409  7375
3     山西省  3466  3481  3480  3490  3497  3502  3510  3514
4  内蒙古自治区  2396  2401  2400  2403  2415  2422  2433  2436

In [101]:
population_melted = population_proc.melt(
    id_vars=["地区"],
    var_name="year",
    value_name="总人口"
)
population_melted.head()

       地区  year   总人口
0     北京市  2023  2186
1     天津市  2023  1364
2     河北省  2023  7393
3     山西省  2023  3466
4  内蒙古自治区  2023  2396

In [107]:
final_df = pd.merge(population_melted, gdp_melted, on=["地区", "year"], how="right")
final_df["GDP"] = final_df["GDP"] * 100000000
final_df["总人口"] = final_df["总人口"] * 10000

In [108]:
final_df.to_excel("gdp_population_data.xlsx", index=False)