In [2]:
import pandas as pd
import numpy as np

In [9]:
import os

# Get the current working directory
cwd = os.getcwd()

# Print the current working directory
print("Current Working Directory:", cwd)

Current Working Directory: /Users/fruit/Desktop/IQVIA/MSD/wave_data/code

In [10]:
df = pd.read_excel("/Users/fruit/Desktop/IQVIA/MSD/wave_data/data/wave13_wave14_combined.xlsx")

In [12]:
# Define custom rules for each feature
custom_rules = {
    # C columns
    "C2_1": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_2": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_3": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_4": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_5": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_6": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_7": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_8": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C2_9": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C3": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    "C4": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3,
    # D2 columns
    "D2a_1": lambda x: 0 if x == 0 else 1 if x == 1 else 2 if x == 2 else 3,
    "D2a_2": lambda x: 0 if x == 0 else 1 if x == 1 else 2 if x == 2 else 3,
    # D4 and D6 columns
    "D4_1": lambda x: 0 if x <= 6 else 1 if 7 <= x <= 8 else 2,
    "D4_2": lambda x: 0 if x <= 6 else 1 if 7 <= x <= 8 else 2,
    "D6c": lambda x: 0 if x <= 6 else 1 if 7 <= x <= 8 else 2,
    # D7 column
    "D7c": lambda x: 0 if x <= 6 else 1 if 7 <= x <= 8 else 2,
    # F1a columns
    "F1a_1": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_2": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_3": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_4": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_5": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_6": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_7": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_8": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_9": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_10": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    "F1a_11": lambda x: 0 if x == 0 else 1 if x == 1 else 2,
    # F1b columns
    "F1b1": lambda x: 0 if x <= 6 else 1 if 7 <= x <= 8 else 2,
    "F1b2": lambda x: 0 if x <= 6 else 1 if 7 <= x <= 8 else 2,
    # G3 column
    "G3": lambda x: 0 if x <= 4 else 1 if x == 5 else 2 if x == 6 else 3
}

for feature, rule in custom_rules.items():
    if feature in df.columns:
        
        df[feature] = pd.to_numeric(df[feature], errors="coerce")
        
        df[f"{feature}_encoded"] = df[feature].apply(lambda x: rule(x) if pd.notnull(x) else None)

      respid  B4b   品牌 GH3_9999_other  GH4  GH5  B1  B2  B3  C2_1  ...  \
0         12   20  可瑞达          South    3    2   1   1   1   6.0  ...
1         12    4  百泽安          South    3    2   0   1   0   7.0  ...
2         12   76  艾瑞卡          South    3    2   2   1   0   5.0  ...
3         12    0  达伯舒          South    3    2   0   1   0   NaN  ...
4         21   22  可瑞达           West    1    1   1   1   0   6.0  ...
...      ...  ...  ...            ...  ...  ...  ..  ..  ..   ...  ...
1355   40043   20  达伯舒          North    1    2   2   1   0   5.0  ...
1356   40044    0  可瑞达          North    3    1   0   1   0   NaN  ...
1357   40044   20  百泽安          North    3    1   2   1   0   5.0  ...
1358   40044   20  艾瑞卡          North    3    1   2   1   0   6.0  ...
1359   40044   60  达伯舒          North    3    1   1   1   1   7.0  ...

      F1a_5_encoded  F1a_6_encoded  F1a_7_encoded  F1a_8_encoded  \
0                 0              0              0              1
1                 0              0              0              0
2                 0              0              0              0
3                 0              0              0              0
4                 0              0              0              0
...             ...            ...            ...            ...
1355              0              0              0              0
1356              0              0              0              0
1357              0              0              0              0
1358              0              0              0              0
1359              0              0              0              0

      F1a_9_encoded  F1a_10_encoded  F1a_11_encoded  F1b1_encoded  \
0                 0               0               0           2.0
1                 0               0               1           2.0
2                 0               0               0           NaN
3                 0               0               0           NaN
4                 0               0               0           1.0
...             ...             ...             ...           ...
1355              0               0               0           NaN
1356              0               0               0           NaN
1357              0               0               0           NaN
1358              0               0               0           NaN
1359              0               0               0           NaN

      F1b2_encoded  G3_encoded
0              2.0         2.0
1              2.0         3.0
2              NaN         3.0
3              NaN         0.0
4              NaN         2.0
...            ...         ...
1355           NaN         2.0
1356           NaN         1.0
1357           NaN         2.0
1358           NaN         2.0
1359           NaN         3.0

[1360 rows x 90 columns]

In [13]:
df.head()

,respid,B4b,品牌,GH3_9999_other,GH4,GH5,B1,B2,B3,C2_1,...,F1a_5_encoded,F1a_6_encoded,F1a_7_encoded,F1a_8_encoded,F1a_9_encoded,F1a_10_encoded,F1a_11_encoded,F1b1_encoded,F1b2_encoded,G3_encoded
0,12,20,可瑞达,South,3,2,1,1,1,6.0,...,0,0,0,1,0,0,0,2.0,2.0,2.0
1,12,4,百泽安,South,3,2,0,1,0,7.0,...,0,0,0,0,0,0,1,2.0,2.0,3.0
2,12,76,艾瑞卡,South,3,2,2,1,0,5.0,...,0,0,0,0,0,0,0,NaN,NaN,3.0
3,12,0,达伯舒,South,3,2,0,1,0,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0.0
4,21,22,可瑞达,West,1,1,1,1,0,6.0,...,0,0,0,0,0,0,0,1.0,NaN,2.0

In [14]:
df.to_excel("/Users/fruit/Desktop/IQVIA/MSD/wave_data/data/wave13_wave14_encoded.xlsx")